<ion-nav-bar class="bar bar-header bar-positive"></ion-nav-bar>
<ion-view title="{{'APP_NAME' | translate}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <div class="list card">
    <div class="item item-avatar">
      <img src="img/ionic.png">
      <h2>YuLun Shih</h2>
      <a href="mailto:shih@yulun.me">shih@yulun.me</a>
    </div>

    <div class="item item-body">
      <pre>
2014.7.25  第六版發行 全新介面, 更新暑假時刻表
2013.9.19  第五版發行 更新時刻表, 新增 紅55, 更新版面
2013.4.20  第四版發行 更新時刻表
2012.9.17  第三版發行 更新時刻表, 感謝 鈺函同學 提供更新資訊
2012.3.24  第二版發行 修正一些bug, 更新時刻表, 新增週六校車
2011.11.25 第一版發行
      </pre>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-email"></i>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-social-github"></i>
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
      </a>
    </div>
  </div>

  <div class="list card">
	  <div class="item item-body">
	    <a class="tab-item item-icon-left" href="#">
	      <i class="icon ion-android-star"></i>
	      評價這個 APP
	    </a>
	  </div>
  </div>
</ion-view>
