/* Empty. Add your own CSS if you like */
.dashboard-time {
	text-align: center;
	font-size: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.card-timeout {
	opacity: 0.4;
	filter: alpha(opacity=40); /* msie */
	background-color: #000;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
	display: inline;
}

.card-timetable {
	text-align: center;
	font-weight: bold;
}

.card-timetable-label {
	position: absolute;
	right: 5px;
	color: gray;
}

.has-tabs {
	bottom: 60px;
}

.no-buses {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0; bottom:0; left: 0; right:0;
	margin: auto;
}

.loading {
	width: 150px;
}